<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.api.tools.usescan">
<listAttribute key="org.eclipse.pde.api.tools.ui.API_PATTERNS_LIST">
<listEntry value=".*\.provisional.*"/>
<listEntry value="org\.eclipse\.(rse|tm|dstore).*"/>
</listAttribute>
<stringAttribute key="org.eclipse.pde.api.tools.ui.BASELINE_NAME" value="TM 3.2"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.DESCRIPTION" value="Target Management 3.2 Report on Illegal API Use"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.INSTALL_PATH" value=""/>
<intAttribute key="org.eclipse.pde.api.tools.ui.SEARCH_MODIFIERS" value="126"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.SEARCH_SCOPE" value="org\.eclipse\.(rse|tm|dstore).*"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.TARGET_HANDLE" value="local:1257515977343.target"/>
<intAttribute key="org.eclipse.pde.api.tools.ui.TARGET_KIND" value="2"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.TARGET_SCOPE" value="org\.eclipse.*"/>
<stringAttribute key="org.eclipse.pde.api.tools.ui.XML_PATH" value="d:/tmp/tm_helios_nonapi_use"/>
</launchConfiguration>
